.datasetGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.dataset {
    border: 1px solid #000000;
    background-color: rgba(217, 217, 217, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datasetContainer {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

.datasetTitle {
    text-align: center;
}

.downloadButton:hover {
    cursor: pointer;
}

