.publicationsText {
    color:black;
    margin-bottom: 3%;
}

.publicationsText p{
    margin-left: 20px;
}

.publicationsTitle {
    margin-top:10%;
    margin-bottom:5%;
    text-align:center;
}

.publicationsContainer {
    margin-left: 2%;
    text-align: left;
}

.publicationsLinks {
    color: blue;
    text-decoration: underline;
}

.publicationsLinks:hover {
    cursor: pointer;
}
